@font-face {
    font-family: Hanged-letters;
    src: url(./src/fonts/Hanged\ Letters.ttf);
}

body * {
    margin: 0em auto;
    text-align: center;
}

h1 {
    font-family: Hanged-letters;
    font-size: 3em;
    animation: float 4s infinite ease-in-out;
    
}

header {
    margin-bottom: 2em;
}

header > p {
    margin-top: 1em;
}
+*
summary:focus {
    outline: none;
}

summary::-webkit-details-marker {
    display: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    text-align: center;
    width: 20em;
    position: relative;
}

article {
    margin-bottom: 1em;
}

input {
    display: none;
}

/* Images */
/* Mustard image */
main div label img {
    cursor: pointer;
    transition: 2s;      
}

main > div {
    position: absolute;
    width: 10em;
    left: 10em;
}

/* Checkbox for mustard image */
main > div > label > input[type="checkbox"]:checked ~ img {
    transform: rotate(90deg);
    transition: 2s;
}

main > div > label > input[type="checkbox"]:checked main > div{
    left: 20em;
}

/* Stains */
section img {
    animation: 5s showSauce;
    position: absolute;
    width: 5em;
    transition: opacity 2s ease-in-out;
}

section img:nth-child(1) {
    left: 5em;
    top: 3em;
    width: 6em;
}

section img:nth-child(2) {
    left: 5em;
    top: 14em;
    width: 6em;
}

section img:nth-child(3) {
    left: 7em;
    top: 16em;
    width: 6em;
}

section img:hover {
    opacity: 0;
    cursor:url("./src/images/wipe.png"), auto;
}

/* Keyframes */
@keyframes showSauce {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes float {
	0% {
        transform: translatey(0px);
        letter-spacing: 5px
    }
    25% {
        transform: translatey(-10px);
        letter-spacing: 10px;
	}
	50% {
        transform: translatey(-20px);
        letter-spacing: 5px;
    }
    75% {
        transform: translatey(-10px);
        letter-spacing: 10px;
	}
	100% {
        transform: translatey(0px);
        letter-spacing: 5px;
    }
}