/* Keyframes */
@keyframes showSauce {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes float {
	0% {
        transform: translatey(0px);
        letter-spacing: 5px
    }
    25% {
        transform: translatey(-10px);
        letter-spacing: 10px;
	}
	50% {
        transform: translatey(-20px);
        letter-spacing: 5px;
    }
    75% {
        transform: translatey(-10px);
        letter-spacing: 10px;
	}
	100% {
        transform: translatey(0px);
        letter-spacing: 5px;
    }
}

@keyframes fall {
	0% {
        letter-spacing: 25px
    }
	100% {
        letter-spacing: 70px;
    }
}