@import "keyframes.css";

@font-face {
    font-family: Hanged-letters;
    src: url(../fonts/Hanged\ Letters.ttf);
}

@font-face {
    font-family: Restaurant;
    src: url(../fonts/Momsdiner-ljjX.ttf);
}

body {
    background-color: #EFEFEF;
    color: #7E7E7F;
    margin: 0em;
}

header > div {
    position: absolute;
}

header label > h1 {
    font-family: Hanged-letters;
    font-size: 3em;
    animation: float 4s infinite ease-in-out;
    cursor: pointer;
    text-align: center;
    margin-top: .22em;
    margin-bottom: 2em;
}

header > header {
    position: absolute;
    text-align: center;
    z-index: 2;
}

header > input[type="checkbox"]:checked + label  {
    position: absolute;
    transition: 2s ease-in;
    animation: fall 1s;
    left: 27%;
}

header > input[type="checkbox"]:checked + label h1  {
    position: absolute;
    margin-top: 47em;
    letter-spacing: 70px;
    transition: 2s ease-in;
    animation: fall 1s;
    z-index: 3;
}

main > section:first-child  {
    margin-top: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
    margin-top: -2em;
}

section {
    text-align: center;
    width: 30em;
    position: relative;
    border-width: 20px;
    border-style: solid;
    border-image: url(/src/images/border-img.svg) 22%;
    padding: 1em;
    margin: 0em auto;
}

article {
    margin-bottom: 1em;
}

h2 {
    font-family: Restaurant;
}

summary:focus {
    outline: none;
}

summary::-webkit-details-marker {
    display: none;
}

input {
    display: none;
}

/* Images */
/* Mustard image */
main div label img {
    cursor: pointer;
    transition: 2s; 
}

main > div {
    position: absolute;
    width: 10em;
    left: 45%;
    top: 10em;
    z-index: 2; 
}

/* Checkbox for mustard image */
main > div > label > input[type="checkbox"]:checked ~ img {
    transform: rotate(90deg) translateX(150px);
    transition: 2s;
}

/* Stains */
section img {
    animation: 3s showSauce;
    position: absolute;
    width: 5em;
    transition: opacity 2s ease-in-out;
}

section img:nth-child(1) {
    left: 14em;
    top: 4em;
    width: 6em;
}

section img:nth-child(2) {
    left: 11em;
    top: 14em;
    width: 6em;
}

section img:nth-child(3) {
    left: 7em;
    top: 16em;
    width: 6em;
}

section img:hover {
    opacity: 0;
    cursor:url("../images/cursor.png"), auto;
}

/* Dark / Light mode */
@media (prefers-color-scheme: dark) {
    body { 
        background-color: black; 
        color: white; 
    }
}
  
@media (prefers-color-scheme: light) {
    body { 
        background-color: white; 
        color:  #7E7E7F; 
    }
}

#body:target {
    color: #7E7E7F;
    background-color: white;
}

#body:target h1{
    color: black;
}

#head:target body {
    background-color: white;
    color: black;
}