@font-face {
    font-family: Hanged-letters;
    src: url(../fonts/Hanged\ Letters.ttf);
}

@font-face {
    font-family: Restaurant;
    src: url(../fonts/Momsdiner-ljjX.ttf);
}

/* General styling */
body {
    background-color: #EFEFEF;
    color: #7E7E7F;
    margin: 0em;
    overflow-x: hidden;
}

h1 {
    font-family: Hanged-letters;
    font-size: 3em;
    animation: float 4s infinite ease-in-out;
    cursor: pointer;
    text-align: center;
    margin-top: .22em;
    margin-bottom: 2em;
}

header > input[type="checkbox"]:checked + label  {
    position: absolute;
    transition: 4s ease-in-out;
    animation: fall 6s;
    left: 42%;
    margin-top: 75em;
    opacity: 0;
}

a {
    position: relative;
    z-index: 100;
}

input {
    display: none;
}

/* Main */
main {
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
    margin-top: -2em;
}

main > section:first-child  {
    margin-top: 1em;
    text-align: center;
}

/* Articles */
section, main > div {
    text-align: center;
    width: 35em;
    position: relative;
    border-width: 1.2em;
    border-style: solid;
    padding: 1em;
    margin: 0em auto;
    margin-bottom: 4em;
    animation: borders 10s infinite linear;
    border-radius: 10%;
    /* overflow: hidden; */
}

/* Borders */
main > div, main section {
    border-image: url(../images/splash-border-img.png) 29%;
    transition: 2s ease-in-out;
    box-sizing: content-box;
}

main div {
    min-height: 20em;
}

/* Second article */
/* main section:nth-child(2) {
    border-image: url(../images/splash-border-img.png) 29%;
} */

/* Third article */
/* main section:nth-child(3) {
    border-image: url(../images/splash-border-img.png) 25%;
} */

/* Fourth article */
/* main section:nth-child(4) {
    border-image: url(../images/splash-border-img.png) 35%;
}  */

@keyframes borders {
    0% {
        border-image: url(../images/splash-border-img.png) 29%;
    }
    50% {
        border-image: url(../images/splash-border-img.png) 49%;
        filter: saturate(8);
    }
    100% {
        border-image: url(../images/splash-border-img.png) 29%;
    }
}

/* IMAGES */
/* Stains */
section img {
    animation: 3s showSauce;
    position: absolute;
    width: 5em;
    transition: opacity 2s ease-in-out;
}

/* First stain */
section img:nth-child(1) {
    left: 14em;
    top: 4em;
    width: 6em;
}

/* Second stain */
section img:nth-child(2) {
    left: 11em;
    top: 14em;
    width: 6em;
}

/* Third stain */
section img:nth-child(3) {
    left: 9em;
    top: 16em;
    width: 6em;
}

section img:hover {
    opacity: 0;
    cursor:url("../images/cursor.png"), auto;
}

main section img {
    mix-blend-mode: difference;
    z-index: 6;
}

/* Splash yellow */
main div > img:nth-child(2), 
main div > img:nth-child(3),
main div > img:nth-child(4) {
    width: 10px;
    height: 10px;
    background-color: transparant;
    position: absolute;
    left: 20%;
    transition: 2s;
    opacity: 0;
    z-index: 3;
    mix-blend-mode: difference;
}

/* Splash yellow */
main div input:checked ~ img:nth-child(2) {
    top: 10%;
    left: 45%;
    animation: splash 10s ease-in-out;
}

/* Splash green */
main div input:checked ~ img:nth-child(3) {
    top: 20%;
    left: 20%;
    animation: splash 9s ease-in-out;
}

/* Splash red */
main div input:checked ~ img:nth-child(4) {
    top: 30%;
    left: 70%;
    animation: splash 11s ease-in-out;
}

/* BUCKET */
/* Bucket */
main div label {
    cursor: pointer;
    z-index: 2;
    width: 40%;
    left: 30%;
    top: 20%;
    position: absolute;
    transition: 2s; 
}

/* Bucket animation */
main > div input:checked ~ label {
    position: absolute;
    animation: shake 2s ease-in-out;
}

/* Checkbox for bucket image */
main > div > label > input[type="checkbox"]:checked ~ img {
    transform: rotate(90deg) translateX(150px);
    transition: 2s;
}

/* Keyframes */
@keyframes splash {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
        margin-top: 0em;
    }
    60% {
        opacity: 1;
        margin-top: 0em;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: scale(125) rotate(100deg);
        margin-top: 60em;
        opacity: 0;
    }
}

@keyframes hover-shake {
    0% { transform: rotate(0deg); }
    40% { transform: rotate(10deg);}
    80% { transform: rotate(-10deg);}
    100% { transform: rotate(0deg);}
}

@keyframes shake {
    0% { transform: translateY(0); }
    20% { transform: translateY(+50px); }
    40% { transform: translateY(-50px); }
    60% { transform: translateY(+50px); }
    80% { 
        transform: translateY(-50px);
        transform: rotate(500deg); 
    }
    100% { transform: translateY(0px);}
}

@keyframes showSauce {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes float {
	0% {
        transform: translatey(0px);
        letter-spacing: 5px;
    }
    25% {
        transform: translatey(-10px);
        letter-spacing: 10px;
	}
	50% {
        transform: translatey(-20px);
        letter-spacing: 5px;
    }
    75% {
        transform: translatey(-10px);
        letter-spacing: 10px;
	}
	100% {
        transform: translatey(0px);
        letter-spacing: 5px;
    }
}

@keyframes fall {
	0% {
        letter-spacing: 5px;
        left: 42%;
    }
    25% {
        letter-spacing: 100px;
        left: 80%;
    }
    50% {
        letter-spacing: 5px;
        left: 10%;
        opacity: 1;
    }
    75% {
        letter-spacing: 100px;
        left: 80%;
        opacity: 0;
    }
	100% {
        letter-spacing: 5px;
        left: 10%;
    }
}

/* Dark / Light mode */
@media (prefers-color-scheme: dark) {
    body { 
        background-color: black; 
        color: white; 
    }
}
  
@media (prefers-color-scheme: light) {
    body { 
        background-color: white; 
        color:  #7E7E7F; 
    }
}

/* Custom swutch light and dark mode */
#body:target {
    color: #7E7E7F;
    background-color: white;
}

#body:target h1{
    color: black;
}