@font-face {
    font-family: Hanged-letters;
    src: url(../fonts/Hanged\ Letters.ttf);
}

@font-face {
    font-family: Restaurant;
    src: url(../fonts/Momsdiner-ljjX.ttf);
}

body {
    background-color: #EFEFEF;
    color: #7E7E7F;
    margin: 0em;
    overflow-x: hidden;
}

header > div {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

/* Title */
header label > h1 {
    font-family: Hanged-letters;
    font-size: 3em;
    animation: float 4s infinite ease-in-out;
    cursor: pointer;
    text-align: center;
    margin-top: .22em;
    margin-bottom: 2em;
}

header label > h1:hover {
    animation: float 2s infinite ease-in-out;
    
}

header > input[type="checkbox"]:checked + label  {
    position: absolute;
    transition: 2s ease-in;
    animation: fall 1s;
    left: 27%;
}

header > input[type="checkbox"]:checked + label h1  {
    position: absolute;
    margin-top: 47em;
    letter-spacing: 70px;
    transition: 2s ease-in;
    animation: fall 1s;
    z-index: 3;
}

main > section:first-child  {
    margin-top: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
    margin-top: -2em;
}

section {
    text-align: center;
    width: 30em;
    position: relative;
    border-width: 20px;
    border-style: solid;
    border-image: url(../images/border-img_2.svg) 22%;
    padding: 1em;
    margin: 0em auto;
}

article {
    margin-bottom: 1em;
}

h2 {
    font-family: Restaurant;
}

summary:focus {
    outline: none;
}

summary::-webkit-details-marker {
    display: none;
}

input {
    display: none;
}

/* Images */
/* Mustard image */
main div label img {
    cursor: pointer;
    transition: 2s; 
}

main div label img:hover {
    animation: hover-shake 2s infinite ease-in-out;
}

main > div {
    position: absolute;
    width: 9em;
    left: 45%;
    top: 10em;
    z-index: 2; 
}

/* Checkbox for mustard image */
main > div > label > input[type="checkbox"]:checked ~ img {
    transform: rotate(90deg) translateX(150px);
    transition: 2s;
}

/* Stains */
section img {
    animation: 3s showSauce;
    position: absolute;
    width: 5em;
    transition: opacity 2s ease-in-out;
}

section img:nth-child(1) {
    left: 14em;
    top: 4em;
    width: 6em;
}

section img:nth-child(2) {
    left: 11em;
    top: 14em;
    width: 6em;
}

section img:nth-child(3) {
    left: 7em;
    top: 16em;
    width: 6em;
}

section img:hover {
    opacity: 0;
    cursor:url("../images/cursor.png"), auto;
}

main section img {
    mix-blend-mode: difference;
    z-index: 6;
}

/* Splash container */
main div {
    width: 100vw;
    height: 100vh;
}

/* Paint label */
main div label {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    width: 20%;
    left: 0%;
    top: 15%;
}

/* Paint bucket */ 
main div label img {
    width: 10em;
}

/* Splash yellow */
main div > img:nth-child(2), 
main div > img:nth-child(3),
main div > img:nth-child(4) {
    width: 10px;
    height: 10px;
    background-color: transparant;
    position: absolute;
    left: 20%;
    transition: 2s;
    opacity: 0;
    z-index: 3;
    mix-blend-mode: difference;
}

/* Splash brown */
main div > img:nth-child(3) {
    left: -10%;
}

/* Splash red */
main div > img:nth-child(4) {
    left: -15%;
}

/* Splash yellow */
main div input:checked ~ img:nth-child(2) {
    top: 30%;
    animation: splash 10s ease-in-out;
}

/* Splash brown */
main div input:checked ~ img:nth-child(3) {
    top: 10%;
    animation: splash 9s ease-in-out;
}

/* Splash red */
main div input:checked ~ img:nth-child(4) {
    top: 40%;
    animation: splash 11s ease-in-out;
}

/* Mustard */
main div input:checked ~ label {
    animation: shake 2s ease-in-out;
}
  /* Keyframes */
@keyframes splash {
    0% {
      opacity: 0;
      transform: scale(0);
      margin-top:0em;
    }
    60% {
      opacity: 1;
      margin-top: 0em;
    }
    70% {
        opacity: 1;
    }
    100% {
      transform: scale(100);
      margin-top: 60em;
      opacity: 0;
    }
}

@keyframes hover-shake {
    0% { transform: rotate(0deg); }
    40% { transform: rotate(10deg);}
    80% { transform: rotate(-10deg);}
    100% { transform: rotate(0deg);}
}

@keyframes shake {
    0% { transform: translateY(0); }
    20% { transform: translateY(+50px); }
    40% { transform: translateY(-50px); }
    60% { transform: translateY(+50px); }
    80% { 
        transform: translateY(-50px);
        transform: rotate(500deg); 
    }
    100% { transform: translateY(0px);}
}

@keyframes showSauce {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes float {
	0% {
        transform: translatey(0px);
        letter-spacing: 5px;
    }
    25% {
        transform: translatey(-10px);
        letter-spacing: 10px;
	}
	50% {
        transform: translatey(-20px);
        letter-spacing: 5px;
    }
    75% {
        transform: translatey(-10px);
        letter-spacing: 10px;
	}
	100% {
        transform: translatey(0px);
        letter-spacing: 5px;
    }
}

@keyframes fall {
	0% {
        letter-spacing: 25px;
        left: 40%;
    }
	100% {
        letter-spacing: 70px;
        left: 40%;
    }
}

/* Dark / Light mode */
@media (prefers-color-scheme: dark) {
    body { 
        background-color: black; 
        color: white; 
    }
}
  
@media (prefers-color-scheme: light) {
    body { 
        background-color: white; 
        color:  #7E7E7F; 
    }
}

/* Custom swutch light and dark mode */
#body:target {
    color: #7E7E7F;
    background-color: white;
}

#body:target h1{
    color: black;
}